.app-logo {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 800;
  display: flex;
  justify-content: center;
  color: var(--text);
  cursor: pointer;

  svg {
    width: clamp(70px, 18vw, 100px);
    height: auto;
  }
}