.app-logo {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 800;
  display: flex;
  justify-content: center;
  color: var(--text);
  pointer-events: none;

  svg {
    width: 100px;
    height: auto;
  }
}